input[type="date"]::-webkit-calendar-picker-indicator {
    filter: opacity(0.3) grayscale(1);
}

.password-toggle {
    background: none;
    border: none;
    /* cursor: pointer; */
    padding: 0;
    margin-left: 0.5rem;
}

.password-toggle img {
    transition: opacity 0.2s ease;
}

.password-toggle:hover img {
    opacity: 0.8;
}
